html {
	box-sizing: border-box;
	font-size: 62.5%;

}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
}
	/* GLOBALES */

img {
	max-width: 100%;
}
.contenedor {
	width: 95%;
	max-width: 120rem;
 	margin: 0 auto 0 auto;
}
h1 {
	font-size: 3.8rem;	
}
h2 {
	font-size: 3.2rem;	
}
h3 {
	font-size: 3rem;	
}
h4 {
	font-size: 2.6rem;	
}
	/* Utilidades */
.seccion {
	margin-top: 2rem;
	margin-bottom: 3rem; 
	
}
.fw-300 {
	font-weight: 300;
}
.centrar-texto{
	text-align: center;	
}
.d-block{
	display: block!important;
}
.contenido-centrado{
	max-width: 800px;
}

/* BOTONES */
.boton {
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.8rem;
	padding: 1rem 3rem;
	margin-top: 3rem;
	display: inline-block;
	text-align: center;
	border: none;
	display: block;
	flex: 0 0 100%;
}	
@media (min-width: 768px) { 
	.boton {
		display: flex;
		flex: 0 0 auto;
	}
}
.boton:hover {
	cursor: pointer;
}
.boton-amarillo {
	background-color: #e08709;	
}	
.boton-verde {
	background-color: #71b100;
	border-radius: .3rem;
}	
	/* HEADER */

.site-header {
	background: #333333;
	padding: 1rem 0 3rem 0;
}
.site-header.inicio {
	background-image:  url(../img/header.jpg);   
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 60rem;
}
.contenido-header {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
@media (min-width: 768px) { 
	.contenido-header{
		text-align: left;
	}
}
.contenido-header h1 {
	color: white;
	padding-bottom: 2.5rem;
}
.barra {
	padding-top: 3rem;
}
@media (min-width: 768px) { 
	.barra {
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
}

	/* Navegacion */
.navegacion a {
	color: white;
	text-decoration: none;
	font-size: 2.2rem;
	display: block;
	margin-top: 5rem;
}
.navegacion a:first-of-type {
	margin-top: 10rem;
}
@media (min-width: 768px) { 
	.navegacion a{
		display: inline-block;
		font-size: 1.8rem;
		margin-right: 2rem;
		padding-top: 0rem;
	}
	.navegacion a:last-of-type {
		margin: 0;
	}
	.navegacion a:first-of-type {
		margin-top: 0rem;
	}
}
.navegacion a:hover {
	color: #71b100;
}

.mobile-menu img{
	width: 5rem;
}
@media (min-width: 768px) { 
	.mobile-menu {
		display: none;
	}
}

.navegacion {
	display: none;
}
@media (min-width: 768px) { 
	.navegacion {
		display: block;
	}
}

.navegacion:target {
	display: block;
}
@media (min-width: 768px) { 
	.icono-SobreNosotros{
		display: flex;
		justify-content: space-between;
	}
}

.icono{
	text-align: center;
}

@media (min-width: 768px) { 
	.icono {
		flex-basis: calc(33.3% - 1rem);
	}
}
.icono h3 {
	text-transform: uppercase;
}

/* Anuncios */

@media (min-width: 768px) { 
	.contenedor-anuncios {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.anuncio {
	flex-shrink: 0;
	flex: calc(33.3% - 1rem);
	border-style: solid;
	border-color: #b5b5b5;
	border-width: 1px;
	background: #f5f5f5;
	margin-bottom: 2rem;
}
@media (min-width: 768px) { 
	.anuncio {
			flex: calc(33.3% - 1rem);
	}
}
.contenido-anuncio {
	padding: 2rem;
}
.contenido-anuncio h3, .contenido-anuncio p{
	margin: 0;
}
.precio {
	color: #71b100;
	font-weight: 700;
}
.iconos-caracteristicas {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	max-width: 500px;
	flex: 1;
}
.iconos-caracteristicas li {
	display: flex;
}
.iconos-caracteristicas li img {
margin-right: 2rem;
}

.ver-todas {
	display: flex;
	justify-content: flex-end;
}

/* COntacto Home */

.imagen-contacto {
	background: url(../img/encuentra.jpg);
	background-position: center; 
	height: 40rem;
	display: flex;
	align-items: center;
}
.contenido-contacto {
	flex: 0 0 90%;
	color: white;
}
.contenido-contacto p {
	font-size: 1.8rem;
}

/* seccion inferior */
@media (min-width: ) { 
	.seccion-inferior {
		display: flex;
		justify-content: space-between;
	}
	.seccion-inferior .blog {
		flex-basis: 60%;
	}
	.seccion-inferior .testimoniales {
		flex-basis: calc(40% - 2rem);
	}
}

.entrada-blog {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.entrada-blog .imagen {
	flex-basis: 40%;
}
.entrada-blog:last-of-type {
	margin-bottom: 0;
}
.texto-entrada a {
	color: #00526b;
	text-decoration: none;
}
.entrada-blog .texto-entrada {
	flex-basis: calc(60% - 2rem);
}
.texto-entrada h4 {
	margin: 0;
	line-height: 1.3;
}
.texto-entrada h4::after {
	content: '';
	display: block;
	width: 15rem;
	height: .5rem;
	background-color: #71b100;
	margin-top: .8rem;
}
.texto-entrada span {
	color: #e08709;
	font-size: calc(100% + 20%);
	font-style: italic;
}

/* testimonial */
.testimonial {
	background-color: #71b100;
	font-size: 2.4rem;
	padding: 2rem;
	color: white;
	border-radius: 3rem;
}
.testimonial p {
	text-align: right;
	font-weight: 700;
}
.testimonial blockquote::before {
	content: '';
	background: url(../img/comilla.svg); 
	width: 4rem;
	height: 4rem;
	display: block;
	position: absolute;
	left: -2rem;
}
.testimonial blockquote{
	position: relative;
	padding-left: 5rem;
	font-weight: 300;
	text-align: justify;
	line-height: 4rem;	
}
/* FOOTER */
.site-footer {
	background-color: #333333;
	margin-bottom: 0;
}
.copy {
	margin: 0;
	color: white;
}
.contenedor-footer {
	padding: 3rem 0;
	display: flex;
	justify-content: space-between;
}

/*INTERNAS*/

.contenido-nosotros {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 2rem;

}
.texto-nosotros blockquote {
	font-weight: 900;
	font-size: 2rem;
	margin: 0;
	padding: 3rem 0;
}

.resumen-propiedad {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


/* CONTACTO */
form p {
	font-size: 1.35rem;
	color: #333333;
	margin-top: 2rem;
}
legend {
	font-size: 2.4rem;
	color: #333333;
}
label {
	font-weight: 700;
	display: block;
}
input:not([type="submit"]), textarea, select{
	padding: 1rem;
	display: block;
	width: 100%;
	background:  #e1e1e1;
	border: none;
	border-radius: 0.5rem;
}
input:[type="radio"]{
	width: auto;
}
.cursor:hover {
	cursor: pointer;
}
select{
	-webkit-appearance: none;
	appearance: none;
}
textarea {
	height: 20rem;
}
.forma-contacto {
	max-width: 25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}